fastapi
uvicorn
motor
pydantic
pydantic-settings
python-multipart
python-jose[cryptography]
passlib[bcrypt]
bcrypt==4.0.1
emails
python-dotenv
aiofiles
opencv-python-headless
tensorflow
numpy
Pillow
requests
certifi
